@charset "UTF-8";

.hidden {
  display: none;
}

/* ロゴの投稿 */

.logoUp {
  margin: 0 auto;
  max-width: 1200px;
}

.logoUp__upArea {
  margin-bottom: 1.6rem;
  width: 70%;
  /* ロゴのステップエリア */
}

.logoUp__upArea__title {
  padding: 1.2rem 0;
  font-size: 1.4rem;
  text-align: center;
}

.logoUp__upArea__stepMenu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 4rem;
  padding-right: 1rem;
}

.logoUp__upArea__stepMenu li {
  padding: 0.5rem 1.5rem;
  width: 25%;
  font-size: 0.8rem;
  list-style-type: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid #E8E8E8;
}

.logoUp__upArea__stepMenu .now {
  background: #F2A679;
  border: 1px solid #F2A679;
  color: #fff;
}

.logoUp__upArea__stepArea {
  padding-right: 1rem;
  min-height: 20rem;
}

.logoUp__upArea__stepArea__contentArea {
  padding: 0 6rem;
  margin-top: 1rem;
}

.logoUp__upArea__stepArea__contentArea .contentTitle {
  margin: 0.6rem 0;
  font-weight: bold;
  font-size: 0.8rem;
}

.logoUp__upArea__stepArea__contentArea .content input,
.logoUp__upArea__stepArea__contentArea .content textarea {
  padding: 0.2rem 0.4rem;
  border: 1px solid #707070;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}

.logoUp__upArea__stepArea__contentArea .content textarea {
  height: 6rem;
}

.logoUp__upArea__stepArea__contentArea .imageView,
.logoUp__upArea__stepArea__contentArea .contentImg {
  width: 200px;
  height: 200px;
  border: 1px solid #707070;
}

.logoUp__upArea__stepArea__contentArea .imageView img,
.logoUp__upArea__stepArea__contentArea .contentImg img {
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 180px;
}

.logoUp__upArea__stepArea__contentArea .imageView .startWord,
.logoUp__upArea__stepArea__contentArea .contentImg .startWord {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 1rem;
}

.logoUp__upArea__stepArea__contentArea .colorArea,
.logoUp__upArea__stepArea__contentArea .formatArea,
.logoUp__upArea__stepArea__contentArea .improveArea,
.logoUp__upArea__stepArea__contentArea .typeArea,
.logoUp__upArea__stepArea__contentArea .typeChildArea,
.logoUp__upArea__stepArea__contentArea .priceArea {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.logoUp__upArea__stepArea__contentArea .colorSelectArea {
  display: flex;
  align-items: center;
  padding-top: 1.6rem;
  font-size: 0.8rem;
}

.logoUp__upArea__stepArea__contentArea .colorSelectArea .color {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
}

.logoUp__upArea__stepArea__contentArea .colorSelectArea p {
  padding: 0 0.8rem;
}

.logoUp__upArea__stepArea__contentArea .colorSelect::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #707070;
}

.logoUp__upArea__stepArea__contentArea .colorArea li {
  position: relative;
  margin: 0.5rem 1rem;
  width: 2.5rem;
  height: 2.5rem;
  list-style-type: none;
  cursor: pointer;
}

.logoUp__upArea__stepArea__contentArea .formatArea li,
.logoUp__upArea__stepArea__contentArea .improveArea li,
.logoUp__upArea__stepArea__contentArea .typeChildArea li,
.logoUp__upArea__stepArea__contentArea .priceArea li {
  margin: 0.4rem 0.2rem;
  height: 2rem;
  border: 1px solid #707070;
  line-height: 1.8rem;
  text-align: center;
  list-style-type: none;
  cursor: pointer;
  border-radius: 1rem/50%;
  font-size: 0.8rem;
}

.logoUp__upArea__stepArea__contentArea .priceArea li {
  width: 12rem;
  height: 4rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.logoUp__upArea__stepArea__contentArea .priceArea li span {
  font-size: 0.8rem;
  pointer-events: none;
}

.logoUp__upArea__stepArea__contentArea .typeChildArea li {
  margin: 0.6rem 0.2rem;
  width: 9rem;
  background: #fff;
}

.logoUp__upArea__stepArea__contentArea .typeArea li {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  width: 33.333%;
  cursor: pointer;
}

.logoUp__upArea__stepArea__contentArea .typeArea li .checkbox {
  position: relative;
  margin-right: 0.6rem;
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid #707070;
}

.logoUp__upArea__stepArea__contentArea .typeArea li span {
  font-weight: bold;
  font-size: 1.2rem;
  top: -12px;
  position: absolute;
}

.logoUp__upArea__stepArea__contentArea .typeArea li .checkbox,
.logoUp__upArea__stepArea__contentArea .typeArea li .typename {
  pointer-events: none;
}

.logoUp__upArea__stepArea__contentArea .typeArea {
  border: 1px solid #707070;
}

.logoUp__upArea__stepArea__contentArea .typeChildArea {
  width: 100%;
  min-height: 5rem;
  background: #F8F8F8;
  border-left: 1px solid #707070;
  border-right: 1px solid #6e0505;
  border-bottom: 1px solid #707070;
}

.logoUp__upArea__stepArea__contentArea .typeArea .selectNow .checkbox {
  background: #B4BF5E;
}

.logoUp__upArea__stepArea__contentArea .typeChildArea .selectNow,
.logoUp__upArea__stepArea__contentArea .priceArea .selectNow {
  background: #B4BF5E;
  color: #fff;
}

.logoUp__upArea__stepArea__contentArea .formatArea li,
.logoUp__upArea__stepArea__contentArea .improveArea li {
  width: 9rem;
}

.logoUp__upArea__stepArea__contentArea .selectNow {
  background: #B4BF5E;
  color: #fff;
}

.logoUp__upArea__stepArea__contentArea .contentText {
  display: inline-block;
  margin-bottom: 0.8rem;
  padding-bottom: 0.2rem;
  min-width: 10rem;
  border-bottom: 1px solid #707070;
  font-size: 0.8rem;
}

.logoUp__upArea__stepArea__contentArea .contentColor {
  display: flex;
  align-items: center;
}

.logoUp__upArea__stepArea__contentArea .contentColor .color {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
}

.logoUp__upArea__stepArea__contentArea .contentColor p {
  padding: 0 0.8rem;
}

.logoUp__upArea__nextBtn {
  margin-top: 1.6rem;
  text-align: center;
}

.logoUp__upArea .nextBtn,
.logoUp__upArea .sendBtn {
  width: 4.5rem;
  height: 2.4rem;
  background: #F2A679;
  font-size: 0.8rem;
  text-align: center;
  color: #fff;
}

